@import url('https://fonts.googleapis.com/css?family=Alfa+Slab+One|Crimson+Text&display=swap');

:root {
  --dark-color: #000033;
  --light-color: #f4f4f4;
  --color-one: #99ffff;
  --color-two: #00ccff;
  --header-font: 'Alfa Slab One', cursive;
  --body-font: 'Crimson Text', serif;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--body-font);
  background-color: var(--dark-color);
  color: var(--light-color);
  height: 100%;
  line-height: 1.5;
}

a {
  text-decoration: none;
  color: var(--color-one);
}

a:hover {
  color: var(--color-two);
}
