:root {
  --dark-color: #000033;
  --light-color: #f4f4f4;
  --color-one: #99ffff;
  --color-two: #00ccff;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: var(--dark-color);
  color: var(--light-color);
  height: 100%;
}

a {
  text-decoration: none;
  color: var(--color-one);
}

a:hover {
  color: var(--color-two);
}
